# Dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary folder
.gemini/
impeccable/

# Build folder
_site/
